<header class="header">
    <div class="container">
        <a href="/" class="title font-mono">> rafa.wtf<span class="blinking">_</span></a>
        <nav id="social">
            <ul>
                <li>
                    <a href="https://twitter.com/rafaoe" class="fa fa-twitter" target="_blank"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/rgomezcasas" class="fa fa-linkedin-square" target="_blank"></a>
                </li>
                <li>
                    <a href="https://github.com/rgomezcasas" class="fa fa-github" target="_blank"></a>
                </li>
                <li>
                    <a href="https://codely.tv" target="_blank">{▸}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <nav id="sections">
            <ul>
                <li>
                    <a href="/articulos">Artículos</a>
                </li>
                <li>
                    <a href="/charlas">Charlas</a>
                </li>
                <li>
                    <a href="/proyectos">Proyectos</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
