{{ define "main" }}
<main class="medium">
    <h1>¿Quién WTF soy?</h1>
    <p>
        👋 Soy <a href="https://twitter.com/rafaoe" target="_blank">@rafaoe</a>, un programador backend al que le gusta
        enseñar y construir cosas.
    </p>
    <p>
        Tengo la suerte de haber trabajado en sitios de muy alto tráfico, donde la escalabilidad y la calidad del código
        eran temas primordiales.
    </p>

    <p>
        Y porque sé que esta es una suerte que no todo el mundo puede tener, me uní con
        <a href="https://twitter.com/javiercane" target="_blank">Javi</a> para construir
        <a href="https://codely.tv" target="_blank">Codely</a> y poder compartir todo este conocimiento.
    </p>

    <p>
        Voy a intentar poner por aquí opiniones personales y no cosas demasiado técnicas (que para eso ya está el blog
        de <a href="https://codely.tv/blog" target="_blank">Codely</a>). ¡El feedback es siempre más que bienvenido!
    </p>
    <p class="clarification">
        Pd. Me suelen preguntar mucho qué herramientas utilizo para trabajar (IDE, tipografías, hardware…), en
        <a href="#">esta página</a> puedes ver todo lo relacionado con el tema.
    </p>
</main>
{{ end }}
