<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Rafa Gómez Casas</title>
        <meta name="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ page.excerpt | strip_html }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
        <link href="/css/fonts.css" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">
        <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.name }}">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ page.excerpt | strip_html }}{% endif %}">
        <meta property="og:image" content="{{ site.url }}/assets/images/rafa.jpg" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@rafaoe" />
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ page.excerpt | strip_html }}{% endif %}">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    </head>

    <body>
        <script>
            try {
                document.createEvent('TouchEvent')
            } catch (e) {
                document.body.className = 'touch-device';
            }
        </script>

        <header class="header">
            <div class="container">
                <a href="/" class="title">> rafa.wtf<span class="blinking">_</span></a>
                <nav class="social">
                    <ol>
                        <li>
                            <a href="https://twitter.com/rafaoe" class="fa fa-twitter" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rgomezcasas/" class="fa fa-linkedin-square" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://github.com/rgomezcasas" class="fa fa-github" target="_blank"></a>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>

        <div id="author">
            <a class="image-link rounded" href="/">
                <img src="/assets/images/rafa.jpg" alt="Rafa Gómez">
            </a>
            <p class="bio">Co-Founder and CTO at <a href="https://codely.tv/" target="_blank">CodelyTV</a>.
        </div>

        <div id="page">
            {{ content }}
        </div>

        <footer class="footer">
            <div class="container">
                <a href="/">Rafael Antonio Gómez Casas</a>
            </div>
        </footer>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-32661667-3', 'rafa.wtf');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
    </body>
</html>
